<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [4]:
len("sravani kandala")

15

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [6]:
# write your answer here
print({string:"texas".count(string) for string in "texas"})

{'t': 1, 'e': 1, 'x': 1, 'a': 1, 's': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [7]:
# write your answer here
list = [2,4,6,8] 
total_sum = sum(list) 
print("sum of all elements in list",total_sum)

sum of elements in list 20

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [8]:
# write your answer here
sample_string = "restart"
print(sample_string[0]+sample_string[1:].replace(sample_string[0], "$"))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [9]:
# write your answer here
S = lambda a, b: 3.14*((1+(a/b))**3)
S(2, 3)

14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
# write your answer here
dict1={1:10,2:20}
dict2={3:30,4:40}
dict3={5:50,6:60} 
new_dict = {**dict1,**dict2,**dict3}  
print(new_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [14]:
# write your answer here
tuple_check= lambda t, ele: ele in t
tuple_check((2,4,6,8), 1)

False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [18]:
# write your answer here
set1={2,4,6,8}
print("the maximum element in set is:",max(set1),"the minimum element in the set is:",min(set1))

the maximum element in set is: 8 the minimum element in the set is: 2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [20]:
# write your answer here
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386','ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
from random import shuffle
group= int(len(studnet_list)/6)
shuffle(studnet_list)
[studnet_list[k:k + group] for k in range(0, len(studnet_list), group)]

[['jl1252', 'pr0353', 'ja0964', 'vb0218', 'dr0609'],
 ['sc1229', 'aos0040', 'bg0320', 'ms1500', 'sk1458'],
 ['sk1313', 'sg1297', 'kg0470', 'sk1390', 'sk1386'],
 ['nm0618', 'av0659', 'kg0569', 'nv0234', 'ds0814'],
 ['hy0232', 'sa1198', 'fh0141', 'ak0934', 'sm1640'],
 ['ak0956', 'sb1357', 'vm0377', 'sm1907', 'gn0108']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [21]:
# write your answer here
array_elements = lambda l: -1 if len(l) == len(set(l)) else 0
array_elements((2,4,6,8,2))

0

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [25]:
import pandas as pd
year_sundays = lambda year: pd.date_range(start=str(year), end=str(year+1), freq='W-SUN').strftime('%m/%d/%Y').tolist()
print("List of sundays in the year are")
year_sundays(2022)

List of sundays in the year are

['01/02/2022',
 '01/09/2022',
 '01/16/2022',
 '01/23/2022',
 '01/30/2022',
 '02/06/2022',
 '02/13/2022',
 '02/20/2022',
 '02/27/2022',
 '03/06/2022',
 '03/13/2022',
 '03/20/2022',
 '03/27/2022',
 '04/03/2022',
 '04/10/2022',
 '04/17/2022',
 '04/24/2022',
 '05/01/2022',
 '05/08/2022',
 '05/15/2022',
 '05/22/2022',
 '05/29/2022',
 '06/05/2022',
 '06/12/2022',
 '06/19/2022',
 '06/26/2022',
 '07/03/2022',
 '07/10/2022',
 '07/17/2022',
 '07/24/2022',
 '07/31/2022',
 '08/07/2022',
 '08/14/2022',
 '08/21/2022',
 '08/28/2022',
 '09/04/2022',
 '09/11/2022',
 '09/18/2022',
 '09/25/2022',
 '10/02/2022',
 '10/09/2022',
 '10/16/2022',
 '10/23/2022',
 '10/30/2022',
 '11/06/2022',
 '11/13/2022',
 '11/20/2022',
 '11/27/2022',
 '12/04/2022',
 '12/11/2022',
 '12/18/2022',
 '12/25/2022',
 '01/01/2023']