<a href="https://colab.research.google.com/github/PrudhviNarayanKorupolu/exercise5korupolu/blob/main/In_class_exercise_05_1_(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fifth in-class-exercise (40 points in total, 04/12/2022)**

(20 points) The purpose of the question is to practice different machine learning algorithms for text classification as well as the performance evaluation. In addition, you are requried to conduct *10 fold cross validation (https://scikit-learn.org/stable/modules/cross_validation.html)* in the training. 

The dataset can be download from here: https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/exercise09_datacollection.zip. The dataset contains two files train data and test data for sentiment analysis in IMDB review, it has two categories: 1 represents positive and 0 represents negative. You need to split the training data into training and validate data (80% for training and 20% for validation, https://towardsdatascience.com/train-test-split-and-cross-validation-in-python-80b61beca4b6) and perform 10 fold cross validation while training the classifier. The final trained model was final evaluated on the test data. 

Algorithms:

(1) MultinominalNB

(2) SVM 

(3) KNN 

(4) Decision tree

(5) Random Forest

(6) XGBoost

Evaluation measurement:

(1) Accuracy

(2) Recall

(3) Precison 

(4) F-1 score

In [3]:
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.4.1)

In [4]:
# Write your code here
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_validate, StratifiedKFold
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline
import pandas as pd
import numpy as np
from xgboost import XGBClassifier

In [5]:
data_train = pd.read_csv(r'stsa-train.txt',sep = 'delimiter=',header= None,names=['review'])
data_test = pd.read_csv(r'stsa-test.txt',sep = 'delimiter=',header= None,names=['review'])

data_train[['sentiment','review']] = data_train["review"].str.split(" ", 1, expand=True)
data_test[['sentiment','review']] = data_test["review"].str.split(" ", 1, expand=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [6]:
data_train.head()

                                              review sentiment
0  a stirring , funny and finally transporting re...         1
1  apparently reassembled from the cutting-room f...         0
2  they presume their audience wo n't sit still f...         0
3  this is a visually stunning rumination on love...         1
4  jonathan parker 's bartleby should have been t...         1

In [7]:
data_test.head()

                                              review sentiment
0     no movement , no yuks , not much of anything .         0
1  a gob of drivel so sickly sweet , even the eag...         0
2  gangs of new york is an unapologetic mess , wh...         0
3  we never really feel involved with the story ,...         0
4            this is one of polanski 's best films .         1

In [8]:
with open('/content/stsa-train.txt') as fin:
    data = fin.readlines()
with open('/content/stsa-test.txt') as fin:
    data.extend(fin.readlines())
sentiment = [x[0] for x in data]
review = [x.strip()[2:] for x in data]
df = pd.DataFrame({'review' : review, 'sentiment': sentiment})

In [9]:
import nltk
import re
import string
nltk.download('stopwords')
nltk.download('wordnet')
stopword=nltk.corpus.stopwords.words('english')
from nltk.stem import WordNetLemmatizer
wl= WordNetLemmatizer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [10]:
def data_cleaning(data):
  data="".join([word.lower() for word in data if word not in string.punctuation])
  data = re.sub("^\d+\s|\s\d+\s|\s\d+$", " ", data)
  tokens = re.split('\W+',data)
  data = [wl.lemmatize(word) for word in tokens if word not in stopword]
  return data

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(analyzer = data_cleaning)
X_tfidf = tfidf.fit_transform(data_train['review'])
print(X_tfidf.shape)

(6920, 13343)

In [12]:
X_tfidf=pd.DataFrame(X_tfidf.toarray())
X_tfidf.columns=tfidf.get_feature_names()
X_tfidf.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,,100minute,103minute,10course,10th,10thgrade,10year,10yearold,112minute,12,...,ziyi,zoe,zombie,zombieland,zone,zoning,zoom,zwick,zzzzzzzzz,élan
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.048154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.029784,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.049596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.048782,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
test_tfidf = tfidf.transform(data_test['review'])
print(test_tfidf.shape)

(1821, 13343)

In [14]:
x_train, x_test, y_train, y_test = train_test_split(X_tfidf, data_train['sentiment'].values,
                                                test_size=0.2, random_state=1)

In [15]:
naive_bayes = MultinomialNB()
svc = SVC()
knn = KNeighborsClassifier()
dt = DecisionTreeClassifier()
rf = RandomForestClassifier()
xgb = XGBClassifier()
algos = [naive_bayes, svc, knn, dt, rf, xgb]
cut = ['nb', 'svc', 'knn', 'dt', 'rf', 'xgb']
estimators = []
for name, model in zip(cut, algos):
    cv = Pipeline([('vect', CountVectorizer()), (name,model)])
    estimators.append(cv)

In [16]:
model = naive_bayes.fit(x_train,y_train)

In [17]:
cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)

In [18]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
accuracy = cross_val_score(naive_bayes, x_test, y_test, cv=18)
y_pred_naive_bayes = model.predict(x_test)
print("The accuracy for MultinomialNB",accuracy.mean())
print('accuracy %s' % accuracy_score(y_pred_naive_bayes,y_test))
print(classification_report(y_test,y_pred_naive_bayes))

The accuracy for MultinomialNB 0.7210735171261488
accuracy 0.7695086705202312
              precision    recall  f1-score   support

           0       0.81      0.69      0.74       675
           1       0.74      0.85      0.79       709

    accuracy                           0.77      1384
   macro avg       0.78      0.77      0.77      1384
weighted avg       0.77      0.77      0.77      1384

In [19]:
decision_tree= dt.fit(x_train,y_train)

In [20]:
y_pred_decision_tree = decision_tree.predict(x_test)
accuracy = cross_val_score(dt, x_test, y_test, cv=10)
print('accuracy' % accuracy_score(y_pred_decision_tree,y_test))
print(classification_report(y_test,y_pred_decision_tree))
print("The accuracy for decision trees",accuracy.mean())

accuracy
              precision    recall  f1-score   support

           0       0.62      0.57      0.60       675
           1       0.62      0.67      0.64       709

    accuracy                           0.62      1384
   macro avg       0.62      0.62      0.62      1384
weighted avg       0.62      0.62      0.62      1384

The accuracy for decision trees 0.6018923991241789

In [21]:
from sklearn.model_selection import cross_val_score
accuracy = cross_val_score(knn, x_test, y_test, cv=10)
_knn = knn.fit(x_train,y_train)
y_pred_knn= _knn.predict(x_test)
print('accuracy' % accuracy_score(y_pred_knn,y_test))
print(classification_report(y_test,y_pred_knn))
print("The accuracy using knn",accuracy.mean())

accuracy
              precision    recall  f1-score   support

           0       0.71      0.67      0.69       675
           1       0.70      0.75      0.72       709

    accuracy                           0.71      1384
   macro avg       0.71      0.71      0.71      1384
weighted avg       0.71      0.71      0.71      1384

The accuracy using knn 0.6633041392972578

In [22]:
random_forest = rf.fit(x_train,y_train)
y_pred_rf = random_forest.predict(x_test)
accuracy = cross_val_score(rf, x_test, y_test, cv=10)
print('The accuracy using random forest' % accuracy_score(y_pred_rf,y_test))
print(classification_report(y_test,y_pred_rf))
print("using random forest",accuracy.mean())

The accuracy using random forest
              precision    recall  f1-score   support

           0       0.71      0.63      0.67       675
           1       0.68      0.76      0.72       709

    accuracy                           0.69      1384
   macro avg       0.70      0.69      0.69      1384
weighted avg       0.70      0.69      0.69      1384

using random forest 0.6755708476696903

In [23]:
_xgb = xgb.fit(x_train,y_train)
y_pred_xgb = _xgb.predict(x_test)
accuracy = cross_val_score(xgb, x_test, y_test, cv=10)
print('Accuracy %s' % accuracy_score(y_pred_xgb,y_test))
print(classification_report(y_test,y_pred_xgb))
print("The accuracy using XG boost",accuracy.mean())

Accuracy 0.6213872832369942
              precision    recall  f1-score   support

           0       0.72      0.37      0.49       675
           1       0.59      0.86      0.70       709

    accuracy                           0.62      1384
   macro avg       0.65      0.62      0.59      1384
weighted avg       0.65      0.62      0.60      1384

The accuracy using XG boost 0.6206808466270461

In [24]:
test_data_naive_bayes = model.predict(X_tfidf)
print('The accuracy on test data using Multinonial %s' % accuracy_score(test_data_naive_bayes,data_train['sentiment']))
print(classification_report(test_data_naive_bayes,data_train['sentiment']))

The accuracy on test data using Multinonial 0.9119942196531792
              precision    recall  f1-score   support

           0       0.87      0.94      0.90      3091
           1       0.95      0.89      0.92      3829

    accuracy                           0.91      6920
   macro avg       0.91      0.91      0.91      6920
weighted avg       0.91      0.91      0.91      6920

(20 points) The purpose of the question is to practice different machine learning algorithms for text clustering
Please downlad the dataset by using the following link.  https://www.kaggle.com/PromptCloudHQ/amazon-reviews-unlocked-mobile-phones
(You can also use different text data which you want)

Apply the listed clustering methods to the dataset:

K means, 
DBSCAN,
Hierarchical clustering. 

You can refer to of the codes from  the follwing link below. 
https://www.kaggle.com/karthik3890/text-clustering

In [25]:
#Write your code here.
!pip install textblob

Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.15.0)

In [ ]:
import pandas as pd
df = pd.read_csv('dataset.csv')

from nltk.corpus import stopwords
import nltk
nltk.download('punkt')
nltk.download('stopwords')
import re
from textblob import TextBlob
from nltk.stem import PorterStemmer
from textblob import Word
nltk.download('wordnet')

In [ ]:
df.shape

In [ ]:
cluster =df.head()
cluster

In [ ]:
# Special characters removal
cluster['After noise removal'] = cluster['Reviews'].apply(lambda x: ''.join(re.sub(r"[^a-zA-Z0-9]+", ' ', charctr) for charctr in x ))

# Punctuation removal
cluster['Punctuation removal'] = cluster['After noise removal'].str.replace('[^\w\s]','')

# Remove numbers
cluster['Remove numbers'] = cluster['Punctuation removal'].str.replace('\d+', '')

# Stopwords removal
stop_word = stopwords.words('english')
cluster['Stopwords removal'] = cluster['Remove numbers'].apply(lambda x: " ".join(x for x in x.split() if x not in stop_word))

# Lower Casing
cluster['Lower casing'] = cluster['Stopwords removal'].apply(lambda x: " ".join(x.lower() for x in x.split()))

# Tokenization
cluster['Tokenization'] = cluster['Lower casing'].apply(lambda x: TextBlob(x).words)


st = PorterStemmer()
cluster['Stemming'] = cluster['Tokenization'].apply(lambda x: " ".join([st.stem(word) for word in x]))


cluster['Lemmatization'] = cluster['Stemming'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
cluster

In [ ]:
cluster['Lemmatization'] = cluster['Stemming'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
cluster

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer()
vect1 = vect.fit_transform(cluster_df['Lemmatization'].values)
vect1.shape

In [ ]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters = 10,random_state=99)
model.fit(tfidf)

In [ ]:
labels_tf = model.labels_
center=model.cluster_centers_
center

In [ ]:
max = vect.get_feature_names()

In [ ]:
from sklearn import metrics
score= metrics.silhouette_score(tfidf, labels_tf, metric='euclidean')
score

In [ ]:
cl1 = cluster_df
cl1['Tfidf Clus Label'] = model.labels_
cl1.head(5)

In [ ]:

cent1= model.cluster_centers_.argsort()[:, ::-1]
for i in range(10):
    print("Cluster %d:" % i, end='')
    for ind in cent1[i, :10]:
        print(' %s' % cl1[ind], end='')
        print()

In [ ]:
for i in range(10):
    print("4 reviews cluster ", i)
    print("-" * 70)
    print(cl1.iloc[cl1.groupby(['Tfidf Clus Label']).groups[i][0]]['Reviews'])
    print('\n')
    print(cl1.iloc[cl1.groupby(['Tfidf Clus Label']).groups[i][5]]['Reviews'])
    print('\n')
    print(cl1.iloc[cl1.groupby(['Tfidf Clus Label']).groups[i][10]]['Reviews'])
    print('\n')
    print("_" * 70)

In one paragraph, please compare K means, DBSCAN and Hierarchical clustering.



```
K Means Clustering is an example of unsupervised learning algorithm groups data based on 
their similarity.  k means clustering specifies the number of clusters
 that the data should be grouped into by randomly assigning each record to a cluster, and 
 finds the centroid of each cluster. The algorithm loops through two steps.Reassigning data points 
 to the cluster whose centroid is closest.Computes new centroid of each cluster.These steps are
  iterated untill the within cluster variation cannot be reduced any further. The within cluster variation is 
  calculated as the sum of the euclidean distance between the data points and their respective cluster 
  centroids.
  DBSCAN uses two parameters: ε (epsilon) and the minimum number of points required to form a 
  dense region[a] (minPts). It starts with an arbitrary starting point that has not been visited. 
  This points ε-neighborhood is retrieved, and if it contains enough points, a cluster is 
  started. Otherwise, the point is labeled as noise. Note that this point might later be found in 
  a sufficiently sized ε-environment of a different point and hence be made part of a cluster.If a point 
  is found to be a dense part of a cluster, its ε-neighborhood is also part of that cluster. 
  Hence, all points that are found within the ε-neighborhood are added, as is their own ε-neighborhood 
  when they are also dense. This process continues until the density-connected cluster is completely found.
   Then, a new unvisited point is retrieved and processed, leading to the discovery of a further cluster 
   or noise.DBSCAN can be used with any distance function[1][4] .The distance function (dist) can therefore be seen as an additional parameter.
   Hierarchical clustering results in a clustering structure consisting of nested partitions. 
   In an agglomerative clustering algorithm, the clustering begins with singleton sets of each point.
    That is, each data point is its own cluster. At each time step, the most similar cluster pairs are 
    combined according to the chosen similarity measure, and this step is repeated either until all data 
    points are included in a single cluster or until some predetermined criteria are met. If the nesting 
    occurs in the other direction, that is, the clustering begins with one large cluster and breaks down
     into smaller clusters, it is known as a divisive clustering algorithm.
```